@tailwind base;
@tailwind components;
@tailwind utilities;

.App{
    background-color: rgb(219,224,231);
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}
.logo{
    width: 150px;
}
.account-btn{
    font-weight: bold;
    padding: 0px 15px;
    height: 40px;
    border-radius: 20px;
    border-color: rgb(106, 175, 255);
    color: rgb(106, 109, 255);
}
.account-btn:hover{
    background-color: rgb(226, 239, 255);
}
.posts{
    display: flex;
    justify-content: center;
}
.post{
    background-color: white;
    width: fit-content;
    min-width: 40vw;
    height: fit-content;
    display: flex;
    min-height: 100px;
    box-shadow: 1px;
}
.vote-container{
    background-color: rgb(249,248,250);
    display: flex;
    flex-direction: column;
    width: 20px;
}
.post-content{
    display: flex;
    flex-direction: column;
}
.vote{
    width: 20px;
}
.vote img{
    width: 100%;
}
.createPost{
    padding: 8px 10px;
    width: fit-content;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 5px;
}
.createPostForm{
    width: 700px;
    padding: 10px;
}
.createPostForm select{
    min-width: fit-content;
    width: 50%;
    margin: 5px 0px;
    padding: 5px 10px;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 5px;
}
.createPostForm select option:first-child{
    color: gray;
}
.createPostForm input{
    width: 100%;
    margin: 5px 0px;
    padding: 5px 10px;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 5px;
}
.createPostForm textarea{
    width: 100%;
    min-height: 200px;
    padding: 5px 10px;
    margin: 5px 0px;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 5px;
}
.createPostForm textarea:focus{
    /* border: 1px solid rgb(0, 0, 0); */
    border-width: 1px;
}
.createPostForm button{
    background-color: rgb(1,120,211);
    border-radius: 15px;
    height: 30px;
    padding: 2px 15px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}
.createPostForm button:hover{
    background-color: rgb(34, 137, 216);
}